.d-flex {
  display: flex !important;
}
.flex-fill {
  flex: 1 1 auto!important;
}
.flex-grow-1 {
  flex-grow: 1!important;
}
.item {
  background:red;
  border: solid 1px white;
}
.flex-shrink-0 {
  flex-shrink: 0!important;
}
.flex-grow-1 {
  flex-grow: 1!important;
}
.align-items-center {
  align-items: center!important;
}
.radius-test {
  border-radius: 20px;
  background: red;
}
